<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:/Users/Coding/source/repos/PharmacyStore.API/PharmacyStore.API/internal_logs/internal_logs.txt">

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="c:/Users/Coding/source/repos/PharmacyStore.API/PharmacyStore.API/logs/${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>