@page "/company/create"

@inject ICompanyService companyService
@inject NavigationManager navigationManager

@attribute [Authorize(Roles = StaticDetails.Role_Admin)]

<div class="container">

    @if (isFailed)
    {
        <div class="alert alert-danger text-center">
            <h3>
                Something is wrong. Please call the administrator.
            </h3>
        </div>
    }

    <div class="card text-center">
        <div class="card-header">
            Add Company
        </div>
        <div class="card-body">
            <EditForm Model="Model" OnValidSubmit="CreateModel">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label>
                        Company name
                    </label>
                    <InputText @bind-Value="@Model.Name" class="form-control" />
                    <ValidationMessage For="()=>Model.Name"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label>
                        Country
                    </label>
                    <InputText @bind-Value="@Model.Country" class="form-control" />
                    <ValidationMessage For="()=>Model.Country"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label>
                        Description
                    </label>
                    <InputTextArea @bind-Value="@Model.Description" rows="5" class="form-control" />
                    <ValidationMessage For="()=>Model.Description"></ValidationMessage>
                </div>

                <div class="form-control border-0">

                    <a class="btn btn-outline-primary" href="companies">
                        <span class="oi oi-arrow-left"></span>
                        Back
                    </a>

                    <button class="btn btn-outline-success" type="submit">
                        <span class="oi oi-plus"></span>
                        Add
                    </button>

                </div>

            </EditForm>
        </div>
    </div>
</div>

@code {

    public CompanyViewModel Model = new CompanyViewModel();

    private bool isFailed = false;

    protected override async Task OnInitializedAsync()
    {

    }

    private async Task CreateModel()
    {
        bool isSuccess = await companyService.CreateAsync(EndpointsService.CompanyEndpoint, Model);

        if (isSuccess)
        {
            navigationManager.NavigateTo($"/companies");
        }
        else
        {
            isFailed = true;
        }
    }
}